@import url('https://fonts.googleapis.com/css?family=Abel');
$font: 'Abel', sans-serif;

html{
  font-family: $font;
  height: 100%;
}

body {
  background-color: #F4F1EC;
  height: 100%;
}

html,
body,
.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

h1,p{
  text-align: center;
}

h1{
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

svg {
  margin-bottom: 2rem;
}
.container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F1EC;
  min-height: 100%;
}

.tile {
  stroke: white;
  stroke-width: 1px;
  &:hover {
    opacity: 0.9;
  }
}

foreignObject{
  pointer-events: none;
}

.title{
  padding: 5px;
  font-size: 12px;
  letter-spacing: -0.5px;
  display: inline-block;
  white-space: pre-line;
  &:hover {
    fill: red;
  }
}

.hidden {
  display: none;
}

.message{
  text-align: center;
}

#tooltip {
  position: absolute;
  background-color: #F4F1EC;
  padding: 0.25rem 1rem 0.5rem 0.5rem;
  border: 3px solid #EEEEEE;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s,
              background-color 1s;
  box-shadow: 4px 4px 10px 5px #333333;
}

.legend-container,
.legend {
  box-sizing: border-box;
}

footer{
  background-color: black;
  padding: 1rem;
  text-align: center;
  width: 100%;
  * {
    vertical-align: middle;
  }
  a {
    color: white;
    text-decoration: none;
  }
  img {
    height: 1.2rem;
    width: auto;
  }
}